/* Navbar component ------------------------------------------ */
.navbar {
  height: 100vh;
  width: 70px;
  background-color: rgb(255, 255, 255);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: sticky;
}

.navbar-item {
  color: #949494;
  font-weight: bolder;
  width: 40px;
  margin: 10px 5px;
  margin-top: 5px;
  padding: 10px 4px;
  cursor: not-allowed;
}

.home {
  cursor: pointer;
  margin-top: 60px;
  margin-bottom: 15px;
  background-color: #3d2dde;
  color: white;
  border-radius: 5px;
  box-shadow: 0 0 8px #3d2dde;
}

/* MyProfile Component --------------------------------------*/
.profile-section {
  background-color: #fafafa;
  width: 30%;
  padding: 5%;
  display: flex;
  flex-direction: column;
  color: #3d3d3d;
}

.profile-pic {
  height: 80px;
  width: 80px;
  border-radius: 100%;
  box-shadow: 0 0 10px #949494;
  margin-right: 16px;
}

.today-stats {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
