@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap");

.App {
  height: 100vh;
  display: flex;
}

.subtle-black {
  color: #888888;
}

.mt-auto {
  margin-top: auto;
}

.mt-1 {
  margin-top: 16px;
}

.mt-2 {
  margin-top: 32px;
}

.mt-3 {
  margin-top: 48px;
}

.box-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.d-flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
}
